<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show All Employees</title>
    <link rel="stylesheet" href="/public/css/admin/adminshowallemployees.css">
</head>
<body>
    <div class="container">
        <h2 class="title">Show All Employees</h2>
        <ul class="employee-list">
            <li class="employee">
                <span class="number">1.</span>
                <input type="text" class="employee-name" placeholder="Employee Name">
                <button class="edit-button">Edit</button>
            </li>
            </ul>
    </div>
</body>
</html>