body {
    font-family: Arial, sans-serif;
    background: url('images/pexels-ywanphoto-57980.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}



.login-box {
    max-width: 500px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    color: white;
}

.login-box-header {
    padding: 10px;
}

.alfa-logo {
    width: 150px;
}

input::placeholder {
    color: #ddd;
}

button {
    background-color: #273e27;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-weight: 100;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
