<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alfa Events Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <div class="login-box">
        <div class="login-box-header">
            <img class="alfa-logo" src="./images/ALFA_EVENT_LOGO.png" alt="">
          <!-- <h1>
            ALFA <br />
            EVENTS
          </h1> -->
          <!-- <p>Have Great food. Bring Great joy..!</p> -->
        </div>
        <div class="login-box-form">
          <form>
            <div>
              <label for="username">User ID</label>
              <input type="text" id="username" />
            </div>
            <div>
              <label for="password">Password</label>
              <input type="password" id="password" />
            </div>
            <div>
              <button type="submit">Log In</button>
            </div>
          </form>
        </div>
        <div class="login-box-footer"></div>
      </div>
    </div>
  </body>
</html>
