<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alfa Events Login</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <div
      class="container d-flex align-items-center justify-content-center min-vh-100"
    >
      <div class="content-box">
        <div class="login-box-header text-center mb-3">
          <img
            class="alfa-logo img-fluid"
            src="/images/ALFA_EVENT_LOGO.png"
            alt="ALFA Event Logo"
          />
        </div>
        <div class="login-box-form">
          <form id="login-form">
            <div class="input-parent-div">
              <div class="form-group">
                <label for="username">User ID</label>
                <input type="text" id="userId" class="form-control"  />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" />
              </div>
              <p id="showerror" style="display: none; color: red ; text-align: center; margin-top: 0px;"> Invalid Id or Password try again </p>
            </div>
            <div class="form-group">
              <button
              type="submit"
              class="btn btn-dark btn-block"
              id="login-button"
              >
              Log In
            </button>
          
            
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
      const form = document.getElementById("login-form");
      form.addEventListener("submit", (event) => {
        event.preventDefault();
        const userId = document.getElementById("userId").value;
        const password = document.getElementById("password").value;

        if (userId && password) {
          console.log('signin fetch started');
          fetch("http://localhost:3000/userlogin", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ userId: userId, password: password }),
          })
            .then((response) => {
              if (!response.ok) {
                throw new Error(
                  `Network response was not ok (status ${response.status})`
                );
              }
              return response.json();
            })
            .then((data) => {
              if (!data.success) {
                // console.log(data);
                document.getElementById("showerror").style.display = "block";
                // Provide a more specific error message based on the data.error property
                // document.getElementById('showerror').textContent = data.error;
              } else {
                window.location.href = data.redirectUrl;
              }
            })
            .catch((err) => {
              console.error("error message", err.message);
              // Handle genaral errors here, e.g , display a generic error message
              document.getElementById("showerror").style.display = "block";
              document.getElementById("showerror").textContent =
                "An error occurred . Please try again later.";
            });
        }
        console.log(userId, password);
      });
    </script>
  </body>
</html>
