<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alfa Events home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald:wght@200;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/user/home.css" />
  </head>
  <body>
    
    <div class="container d-flex align-items-center justify-content-center min-vh-100">
      <div class="content-box">
        <div class="card-header text-center mb-3">
          <img class="alfa-logo img-fluid" src="/images/ALFA_EVENT_LOGO.png" alt="ALFA Event Logo" />
        </div>
        <div class="details-div">
           <button>User Profile</button>
           <button>Upcoming Events</button>
           <button>Booked Events</button>
           <button>Contact Us</button>
           <button>Log Out</button>
        </div>
      </div>
    </div>
  </body>
</html>




<!-- <li><a href="#" class="text-white"></a></li>
<li><a href="#" class="text-white"></a></li>
<li><a href="#" class="text-white"></a></li>
<li><a href="#" class="text-white"></a></li>
<li><a href="#" class="text-white"></a></li> -->
