body {
    font-family: Arial, sans-serif;
    background: url('/images/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.content-box {
    height: 600px;
    width: 350px;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    /* background-color: rgb(0, 0, 0); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    color: white;
    font-family: monospace;
    
}

.card-header {
    padding: 30px;
}
.alfa-logo {
    width: 120px;
}

.details-div {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    text-align: center;
    height: 60%;
    display: flex;
    align-items: center;
}
.details-div ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}







