body {
  font-family: Arial, sans-serif;
  background: url('/images/wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.content-box {
  max-height: 650px;
  height: 100%;
  max-width: 600px;
  width: 350px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  color: white;
  font-family: monospace;
  
}

.card-header {
  /* padding: 30px; */
  margin-top: 15px;
}
.alfa-logo {
  width: 120px;
}

.details-div {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  height: 500px;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  scrollbar-width: none;
}

.details-div::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
.add-form{
  display: flex;
  flex-direction: column;
}

.details-div ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details-div ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.input-dark {
  background: rgb(47, 45, 45);
  color: white;
  border: none;


}
.input-dark:focus{
  background-color: black;
  color: white;
}
.input-dark::placeholder, 
textarea::placeholder {
  color: #ffffff; /* Replace with your desired color */
}
.footer{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.footer button {
  background-color: rgb(8, 62, 6);
  color: white;
  width: 50%;
  border-radius: 8px;
  
}







